

.navbar {
  /*Quita los redondos de la lista*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
}

.navbar li {
  /*El elemento debe flotar a la izquierda de su bloque contenedor.*/
  /* float: left; */
  display: inline-block;
}

.navbar li a {
  /*Se muestra como un tipo de bloque*/
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  /*Quita el subrayado de los enlaces*/
  text-decoration: none;
}

/*Cuando el puntero del mouse esta encima del elemento*/
.navbar li a:hover {
  background-color: white;
  color: black;
}
