<div [ngClass]="alerta">
  <strong>Saludos</strong> desde muy lejano
</div>

<button type="button" (click)="alerta = 'alerta advertencia'" class="boton">
  Advertencia
</button>
<button type="button" (click)="alerta = 'alerta error'" class="boton err">
  Error
</button>


<!--Estilo compuesto  clases compuestas no se aplican-->
<!-- <h3   [ngClass]="{ ' alerta error': propiedades.error, 'alerta advertencia': !propiedades.error }">
  Como estas
</h3> -->

<h3  class="alerta" [ngClass]="{ 'error': propiedades.error, ' advertencia': !propiedades.error }">
  Como estas
</h3><!--valores boleanos-->
<button type="button"  (click)="propiedades.error = !propiedades.error" class="boton" [ngClass]="{ 'danger': propiedades.error, 'err': !propiedades.error }">
  Cambiar
</button>
<!--Cambios de estilos o añadir estilos mediante ngClass-->

<br><br>

<h3>Proceso Asincrono</h3>

<button type="button" class="boton" (click)="ejecutar()" [disabled]="loading">
  <i class="fa" [ngClass]=" { 'fa-save': !loading, 'fa-spin fa-refresh': loading } "></i>
  <span *ngIf="!loading">Guardar Cambios</span>
  <span *ngIf="loading">Espere por favor...</span>

</button>

