<h1>Pipes <small>Angular</small></h1>
<hr>
<table>
  <thead>
    <tr>
      <!--th es negrita-->
      <th>Variable</th>
      <th>Pipe</th>
      <th>Salida</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{nombre}} <td>
      <td>uppercase</td>
      <td>{{nombre | uppercase}}</td>
    </tr>
    <tr>
      <td>{{nombre}} <td>
      <td>lowercase</td>
      <td>{{nombre | lowercase}}</td>
    </tr>
    <tr>
      <td>{{nombre}} <td>
      <td>slice:3</td>
      <td>{{nombre | slice:3}}</td>
    </tr>
    <tr>
      <td>{{nombre}} <td>
      <td>slice 0:3</td>
      <td>{{nombre | slice:0:3}}</td>
    </tr>
    <tr>
      <td>{{nombre2}} <td>
      <td>capitalizado</td>
      <td>{{nombre2 | capitalizado:false}}</td>
    </tr>

    <tr>
      <td>{{array}} <td>
      <td>slice: 1:5</td>
      <td>{{array | slice:1:5}}</td>
    </tr>
    <tr>
      <td>{{PI}} <td>
      <td>number</td>
      <td>{{PI }}</td>
    </tr>
    <tr>
      <td>{{PI}} <td>
      <td>number</td>
      <td>{{PI | number}}</td>
    </tr>
    <tr>
      <td>{{PI}} <td>
      <td>number</td>
      <td>{{PI | number:'3.0-0'}}</td>
    </tr>
    <tr>
      <td>{{PI}} <td>
      <td>number</td>
      <td>{{PI | number:'2.2-2'}}</td>
    </tr>
    <tr>
      <td>{{porcentaje}} <td>
      <td>percent</td>
      <td>{{porcentaje | percent}}</td>
    </tr>
    <tr>
      <td>{{porcentaje}} <td>
      <td>percent</td>
      <td>{{porcentaje | percent:'2.2-2'}}</td>
      <!--dos posiciones enteras y dos decimales-->
    </tr>
    <tr>
      <td>{{salario}} <td>
      <td>currency</td>
      <td>{{salario | currency}}</td>
      <!--simbolo de moneda o tipo de moneda por defecto en dolares-->
    </tr>
    <tr>
      <td>{{salario}} <td>
      <td>currency</td>
      <td>{{salario | currency:'BOB'}}</td>
      <!--Podemos ponerle el tipo de moneda como: EUR,BOB...etc-->
    </tr>
    <tr>
      <td>{{valorPromesa}} <td>
      <td>async</td>
      <td>{{valorPromesa | async}}</td>
      <!--Podemos ponerle el tipo de moneda como: EUR,BOB...etc-->
    </tr>
    <tr>
      <td>{{fecha}} <td>
      <td>date</td>
      <td>{{fecha | date:'dd/MM/yyyy'}}</td>
      <!--Podemos ponerle el tipo de moneda como: EUR,BOB...etc-->
    </tr>
  </tbody>
</table>

<div>
  <h1>Slice</h1>
  <ul>
    <li *ngFor="let item of  array | slice:5:20">
      {{item}}
    </li>
  </ul>
</div>
<div>
  <h3>JSON</h3>
  <hr>
  <div>
    {{heroe}}
  </div>
  <div>
    {{heroe| json}}
  </div>
  <pre>
    {{heroe | json}}
  </pre>
</div>

