.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 20%;
}


/**/
input [type=text]{
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
}