<h1>Buscando: <small> {{termino}} </small></h1>
<hr>

<div class="card" *ngFor="let heroe of heroes">
  <img [src]="heroe.img" [alt]="heroe.nombre" class="img-tamanio">
  <div class="container">
    <h4 class="titulo">
      <b>{{heroe.nombre}} </b>
    </h4>

    <p class="texto">{{ heroe.bio}} </p>
    <p>
      <small class="texto-secundario">{{heroe.aparicion}} </small>
    </p>

    <button (click)="verHeroe(heroe.idx)" type="button" class="btn-ver-mas">
      Ver mas...
    </button>
     <!-- <a [routerLink]="['/heroe', i]" class="btn-ver-mas">Ver mas...</a> -->

  </div>
</div>