
<!--Validacion en angular de este tipo.

-->
<div *ngIf="usuario">
  <p>
    <b>Genero:</b> {{ usuario.gender }}
    <br>
    <b>Nombre:</b> {{ usuario.name['title'] }} {{ usuario.name['first'] }}  {{ usuario.name['last'] }}
  </p>
</div>

<div>
  <h2>Operador Map</h2>
  <button type="button" class="boton" (click)="showFemale()">Femenino</button>
  
  <div *ngIf="femenino">
    <p>
      <b>Genero:</b> {{ usuario2.gender }}
      <br>
      <b>Nombre:</b> {{ usuario2.name['title'] }} {{ usuario2.name['first'] }}  {{ usuario2.name['last'] }}
    </p>
  </div>
</div>

<!------------------------------->
<div>
  <button type="button" class="boton" (click)="MostrarElementos()">Mostrar Elementos</button>
</div>
<!--Maaaapppppp-->
<div>
  <button type="button" class="boton" (click)="MostrarFoto()">Mostrar Foto</button>
  <div *ngIf="usuario4">
    <p>
      <b>Nombre:</b> {{ usuario4.name['title'] }} {{ usuario4.name['first'] }}  {{ usuario4.name['last'] }}
    </p>
    <p>
      <b>Foto:</b>
      <br>
      <img [src]="usuario4['picture'].large" alt="persona">
    </p>
  </div>
</div>
<!--------------Map -------------------------------------------------->
<div>
  <div *ngIf="usuario5">
    <p>
      <b>Nombre:</b> {{ usuario5.name['title'] }} {{ usuario5.name['first'] }}  {{ usuario5.name['last'] }}
      <br>
      <b>Email:</b>      {{ usuario5.email }} 
      <br>
      <b>Contraseña:</b> {{ usuario5.login['password'] }} 
    </p>
    <p>
      <b>Fotos:</b>
      <br>
      <img [src]="usuario5['picture'].large" alt="persona">
      <img [src]="usuario5['picture'].medium" alt="persona">
      <img [src]="usuario5['picture'].thumbnail" alt="persona">
    </p>
  </div>
  <button type="button" class="boton" (click)="mostrarDatos()">Mostrar Fotos</button>

</div>


<!------------------------------------------------------------------------->

<div>
  <!-- <h2>Operador Map</h2> -->
  
  <div *ngIf="ciudad">
    <p>
      <b>Genero:</b> {{ usuario3.gender }}
      <b>Ciudad:</b> {{ usuario3.location['country'] }}
      <br>
      <b>Nombre:</b> {{ usuario3.name['title'] }} {{ usuario3.name['first'] }}  {{ usuario3.name['last'] }}
    </p>
  </div>
  <button type="button" class="boton" (click)="showCountry()">Ciudad</button>

</div>

